@value makerWhite, makerGreen from '../../common/colors.css';

.footer {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  border-radius: 0 0 20px 20px;
  background-color: #205081;
}

.title {
  color: makerWhite;
}
